        .bg-area {
            h1 {
                font-weight: unset !important;
                font-size: 26px !important;
                line-height: 31.2px !important;
                max-width: 80%;
            }
            p {
                font-family: "Exo", sans-serif;
                font-weight: 200;
                font-size: 12px !important;
                text-align: left;
                color: #fff;
            }
        }
        
        .img-resize {
            width: 490px;
            height: 460px;
        }
        
        .bg-bebidas {
            background: url("../../dist/img/banner-bebidas-seg-mob.png") center center no-repeat;
        }
        
        .bg-domissanitarios {
            background: url("../../dist/img/banner-domissanitarios-seg-mob.png") center center no-repeat;
        }
        
        .bg-higiene {
            background: url("../../dist/img/banner-higiene-seg-mob.png") center center no-repeat;
        }
        
        .bg-produtos {
            background: url("../../dist/img/banner-produtos-seg-mob.png") center center no-repeat;
        }
        
        .bg-utilidades {
            background: url("../../dist/img/banner-utilidades-seg-mob.png") center center no-repeat;
        }
        
        .logistica {
            .intro-green {
                background: #66b52c;
                padding: 25px;
                font-size: 20px;
                line-height: 23.99px;
                color: #fff;
                span::before {
                    display: block;
                    content: "";
                    height: 1px;
                    width: 40px;
                    background: white;
                    margin-bottom: 5px;
                }
            }
            .intro-blue {
                position: relative;
                span {
                    position: absolute;
                    text-transform: uppercase;
                    color: white;
                    background: #66b52c;
                    padding: 3px;
                    font-weight: bold;
                    left: 20px;
                    top: 20px;
                }
                img {
                    width: 100%;
                }
            }
        }
        
        .white-box {
            padding: 20px;
            p {
                font-family: "Open Sans", sans-serif;
                font-size: 16px !important;
                line-height: 22px !important;
                color: #71848e;
                margin-bottom: 20px;
            }
            .btn-cta {
                border-radius: 2px;
                background: #66b52c;
                box-shadow: 0px 5px 24px rgba(0, 0, 0, 0.48);
                padding: 13px 20px;
                font-family: "Open Sans", sans-serif;
                font-weight: 600;
                font-size: 13px !important;
                line-height: 17.35px;
                color: #fff;
                margin: 0 auto;
                display: flex;
                margin-bottom: 30px !important;
                &:hover {
                    filter: brightness(0.5) !important;
                    transform: scale(1.05);
                    color: white;
                }
            }
        }
        
        .blue-questions {
            background: #2c2f57;
            padding-top: 40px;
            .title {
                font-size: 21px;
                line-height: 24px;
                color: #fff;
                display: block;
                &::before {
                    display: block;
                    content: "";
                    height: 1px;
                    width: 40px;
                    background: #66b52c;
                    margin-bottom: 7px;
                }
            }
            .item {
                margin-top: 40px;
                .name {
                    font-family: "Open Sans", sans-serif;
                    font-size: 21px;
                    line-height: 24px;
                    color: #66b52c;
                    display: block;
                    margin-top: 10px;
                }
                p {
                    font-family: "Open Sans", sans-serif !important;
                    font-size: 12px !important;
                    line-height: 14px !important;
                    color: #fff !important;
                    margin-top: 5px;
                    text-align: left !important;
                    font-weight: normal !important;
                }
            }
            .estante {
                margin-top: 40px;
                width: 100%;
            }
        }
        
        .produto-pdv {
            padding-top: 40px;
            .title {
                max-width: 73%;
                display: block;
                font-size: 25.98px;
                line-height: 31.18px;
                color: #2c2f57;
                &::before {
                    display: block;
                    content: "";
                    height: 2px;
                    width: 45px;
                    margin-bottom: 5px;
                    background: #66b52c;
                }
            }
            p {
                font-family: "Open Sans", sans-serif !important;
                font-size: 12px !important;
                line-height: 14px !important;
                color: #71848e;
            }
            .wrapper {
                .carousel-pdv {
                    height: 280px;
                    position: relative;
                    top: 80px;
                    .item {
                        position: relative;
                        height: 133.78px;
                        border-radius: 2px;
                        background: #fff;
                        box-shadow: 0px 0px 18px rgba(52, 52, 52, 0.15);
                        padding: 37px 25px;
                        &+.item {
                            margin-left: 10px;
                        }
                    }
                    img {
                        display: block;
                        position: absolute;
                        top: -40%;
                        left: 50%;
                        transform: translate(-50%, 0);
                        width: 60px;
                    }
                    .name,
                    p {
                        font-family: "Open Sans";
                        display: block;
                        font-weight: bold;
                        font-size: 13.27px !important;
                        line-height: 16.69px !important;
                        text-align: center;
                        color: #66b52c;
                    }
                    p {
                        color: #71848e;
                        font-weight: normal;
                        &::after {
                            display: block;
                            content: "";
                            height: 1px;
                            width: 40px;
                            background: #66b52c;
                            margin: 10px auto 20px auto;
                        }
                    }
                }
            }
            .mid-img {
                width: 100%;
            }
            .after-mid {
                font-family: "Open Sans";
                font-size: 12px;
                color: #2c2f57;
                margin-bottom: 30px;
            }
            .other-title {
                font-weight: normal;
                padding-right: 15px;
                font-size: 21px;
                text-align: left;
                color: #2c2f57;
                margin-bottom: 40px;
                display: block;
                &::before {
                    display: block;
                    content: "";
                    width: 45px;
                    height: 2px;
                    margin-bottom: 15px;
                    background: #66b52c;
                }
            }
            .btn-cta {
                margin: 0 auto;
                display: flex;
                &:hover {
                    filter: brightness(0.5) !important;
                    transform: scale(1.05);
                    color: white;
                }
            }
            .mini {
                display: block;
                font-family: "Open Sans";
                font-size: 12px;
                line-height: 14px;
                color: #71848e;
                text-align: center;
                margin-top: 5px;
                // margin-bottom: 40px;
            }
        }
        
        .depoimentos-bebidas {
            background: rgba(0, 0, 0, 0.05);
            padding-top: 40px;
            padding-bottom: 40px;
            .title {
                font-size: 25.99px;
                line-height: 31.19px;
                text-align: center;
                color: #2c2f57;
                margin: 0 auto;
                display: block;
                margin-bottom: 25px !important;
                &::before {
                    display: block;
                    content: "";
                    margin: 0 auto 5px auto;
                    height: 2px;
                    width: 50px;
                    background: #66b52c;
                }
            }
            .wrapper {
                .tns-nav {
                    text-align: center;
                    margin-top: 20px;
                    button {
                        outline: none;
                        border: none;
                        background: #71848e;
                        margin: 5px;
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                    }
                }
                .carousel-depo-bebidas {
                    .item {
                        .sub-item {
                            position: relative;
                        }
                        .aspa {
                            height: 100px;
                            top: -60px;
                            left: 36px;
                            position: absolute;
                            z-index: 10;
                        }
                        .border-custom {
                            border: 3px solid #66b52c;
                            padding: 42px 35px;
                            margin-top: 100px;
                            position: relative;
                            z-index: 2;
                            height: 236px;
                            .ver-tudo-btn {
                                padding-left: 0 !important;
                            }
                            p {
                                font-family: "Open Sans";
                                font-size: 14px !important;
                                line-height: 14.5px !important;
                                text-align: left;
                                color: #71848e;
                            }
                            .rodape {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                img {
                                    filter: gray;
                                    /* IE6-9 */
                                    width: 50px;
                                    -webkit-filter: grayscale( 1);
                                    /* Google Chrome, Safari 6+ & Opera 15+ */
                                    filter: grayscale(1);
                                    /* Microsoft Edge and Firefox 35+ */
                                }
                                .name {
                                    font-family: "Open Sans";
                                    font-weight: bold;
                                    font-size: 16px;
                                    line-height: 18px;
                                    color: #66b52c;
                                }
                            }
                        }
                    }
                }
            }
        }
        
        .outros-segmentos {
            padding-top: 40px;
            padding-bottom: 40px;
            .title {
                font-size: 25.99px;
                line-height: 31.19px;
                text-align: center;
                color: #2c2f57;
                margin-bottom: 40px;
                display: block;
                &::before {
                    display: block;
                    content: "";
                    margin: 0 auto 10px auto;
                    background: #66b52c;
                    height: 2px;
                    width: 45px;
                }
            }
            .wrapper {
                margin-top: 40px;
                .carousel-outros-segmentos {
                    .item {
                        &+.item {
                            margin-left: 15px;
                        }
                        .header {
                            padding: 35px;
                            height: 130px;
                            .name {
                                text-align: center;
                                color: white;
                                font-size: 18.9px;
                                line-height: 22.67px;
                                font-family: "open sans";
                                font-weight: bold;
                                max-width: 75%;
                                margin: 0 auto;
                                display: block;
                                &::after {
                                    display: block;
                                    content: "";
                                    margin: 10px auto 0 auto;
                                    height: 1px;
                                    width: 45px;
                                    background: #fff;
                                }
                            }
                        }
                        img {
                            height: 180px;
                            width: 100%;
                        }
                        .footer {
                            padding: 35px;
                            height: 120px;
                            .btn-cta {
                                border: 2px solid white;
                                background: transparent;
                                font-size: 14.11px;
                                line-height: 20.28px;
                                color: #fff;
                                display: flex;
                                margin: 0 auto;
                                &:hover {
                                    filter: brightness(0.5) !important;
                                    transform: scale(1.05);
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
        }
        
        .need-help {
            padding-top: 40px;
            padding-bottom: 40px;
            .title {
                font-size: 25.99px;
                line-height: 31.19px;
                text-align: center;
                color: #2c2f57;
                display: block;
                &::before {
                    display: block;
                    content: "";
                    margin: 0 auto 10px auto;
                    background: #66b52c;
                    height: 2px;
                    width: 45px;
                }
            }
            .mini {
                font-family: "Open Sans";
                font-size: 12px !important;
                line-height: 23px !important;
                text-align: center;
                color: #71848e;
                display: block;
            }
            .box-container {
                .item {
                    display: flex;
                    align-items: flex-start;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    border: 1px solid #71848e;
                    border-bottom: none;
                    border-left: none !important;
                    border-right: none !important;
                    &:last-of-type {
                        border-bottom: 1px solid #71848e;
                    }
                    .circle {
                        margin-right: 15px;
                    }
                    .text {
                        width: 90%;
                        .titulo {
                            font-family: "Open Sans";
                            font-size: 15px;
                            line-height: 18px;
                            display: block;
                            color: #2c2f57;
                            margin-bottom: 10px;
                            font-weight: 400;
                        }
                        .resposta {
                            font-family: "Open Sans";
                            font-size: 12px !important;
                            line-height: 14px !important;
                            color: #71848e;
                            display: block;
                        }
                    }
                }
            }
            .btn-cta {
                margin: 30px auto;
                display: flex;
                box-shadow: 0px 5px 24px rgba(0, 0, 0, 0.48);
                &:hover {
                    filter: brightness(0.5) !important;
                    transform: scale(1.05);
                    color: white;
                }
            }
        }
        
        @media (min-width: map-get($grid-breakpoints,
        lg)) {
            .bg-area {
                h1 {
                    font-size: 46px !important;
                    line-height: 50px !important;
                }
                p {
                    font-size: 20px !important;
                    line-height: 25px !important;
                    margin-bottom: 40px;
                }
            }
            .bg-bebidas {
                background: url("../../dist/img/bg-bebidas-lg.png") center center no-repeat;
                height: 90vh;
            }
            .bg-domissanitarios {
                background: url("../../dist/img/banner-domissanitarios-lg.png") center center no-repeat;
                height: 90vh;
            }
            .bg-higiene {
                background: url("../../dist/img/banner-higiene-lg.png") center center no-repeat;
                height: 90vh;
            }
            .bg-produtos {
                background: url("../../dist/img/banner-produtos-lg.png") center center no-repeat;
                height: 90vh;
            }
            .bg-utilidades {
                background: url("../../dist/img/banner-utilidades-lg.png") center center no-repeat;
                height: 90vh;
            }
            .logistica {
                margin: 0 13%;
                position: relative;
                top: -50px;
                margin-bottom: -40px;
                .intro-green {
                    padding: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .info {
                        font-size: 26px;
                        line-height: 38px;
                        &::before {
                            margin-bottom: 15px;
                            width: 50px;
                        }
                    }
                }
                .intro-blue {
                    span {
                        left: 50px;
                        top: 50px;
                    }
                }
            }
            .white-box {
                padding-left: 13%;
                padding-right: 13%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 25px;
                .btn-cta {
                    margin: unset;
                    max-width: 200px !important;
                }
            }
            .blue-questions {
                .box {
                    padding-left: 13% !important;
                    padding-right: 13% !important;
                    margin: 0 auto;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-bottom: 70px !important;
                    padding-top: 40px !important;
                    .title {
                        font-size: 27px;
                        line-height: 50px;
                        width: 30%;
                    }
                    .item {
                        width: 150px;
                        margin-top: unset;
                        // &:last-of-type {
                        //   width: 10%;
                        //   .p-custom {
                        //     width: 170%;
                        //   }
                        // }
                        img {
                            height: 50px;
                        }
                        .p-custom {
                            width: 135%;
                        }
                        p {
                            text-align: left !important;
                            margin-bottom: 0;
                            font-size: 16px !important;
                            line-height: 22px !important;
                            color: white !important;
                            font-weight: normal !important;
                        }
                    }
                }
            }
            .produto-pdv {
                .container-custom {
                    padding-right: 13% !important;
                    padding-left: 13% !important;
                    .d-lg-flex {
                        align-items: center;
                        justify-content: space-between;
                        .title {
                            max-width: 70%;
                            font-size: 40px;
                            line-height: 50px;
                            margin-bottom: 20px;
                        }
                        p {
                            max-width: 75%;
                            font-size: 18px !important;
                            line-height: 30px !important;
                        }
                    }
                    .wrapper {
                        .carousel-pdv {
                            padding: 0 10px;
                            top: unset;
                            margin-top: 80px;
                            .item {
                                width: 22%;
                                height: 160px;
                                img {
                                    width: 90px;
                                }
                                p,
                                .name {
                                    font-size: 17px !important;
                                    max-width: unset !important;
                                    line-height: 25px !important;
                                    b {
                                        color: #66b52c;
                                    }
                                }
                            }
                        }
                    }
                    .right-text {
                        padding-left: 40px !important;
                        .after-mid {
                            font-size: 16px !important;
                            line-height: 22px !important;
                            max-width: unset !important;
                            margin-bottom: 40px;
                        }
                        .btn-cta {
                            margin-top: 60px !important;
                            margin-left: 0 !important;
                        }
                        .mini {
                            text-align: left;
                            font-size: 14px;
                        }
                    }
                }
            }
            .depoimentos-bebidas {
                padding-bottom: 100px;
                .container-custom {
                    padding-right: 13% !important;
                    padding-left: 13% !important;
                    .title {
                        font-size: 40px !important;
                        line-height: 45px !important;
                    }
                }
                .wrapper {
                    .carousel-depo-bebidas {
                        .item {
                            .sub-item {
                                width: 49%;
                                .border-custom {
                                    height: 360px;
                                    display: flex;
                                    padding-top: 50px;
                                    flex-direction: column;
                                    justify-content: space-between;
                                    p {
                                        font-size: 15px !important;
                                        line-height: 22px !important;
                                        &:first-of-type {
                                            display: none;
                                        }
                                    }
                                    .rodape {
                                        width: 100%;
                                    }
                                }
                                .aspa {
                                    top: 40px;
                                }
                            }
                        }
                    }
                }
            }
            .outros-segmentos {
                .container-custom {
                    padding-left: 13% !important;
                    padding-right: 13% !important;
                    .title {
                        margin-left: auto;
                        margin-right: auto;
                        font-size: 40px !important;
                        line-height: 45px !important;
                    }
                }
                .wrapper {
                    .carousel-outros-segmentos {
                        display: flex;
                        justify-content: space-between;
                        .item {
                            width: 235px;
                            img {
                                height: 140px;
                            }
                        }
                    }
                }
            }
            .need-help {
                .container-custom {
                    padding-left: 13% !important;
                    padding-right: 13% !important;
                    .title {
                        font-size: 40px !important;
                        line-height: 45px !important;
                    }
                    .mini {
                        font-size: 18px !important;
                        line-height: 22px !important;
                        margin-bottom: 40px;
                        margin-top: 20px;
                    }
                    .box-container {
                        .item {
                            .text {
                                width: 90%;
                                .titulo {
                                    font-size: 18px !important;
                                    line-height: 22px !important;
                                }
                                .resposta {
                                    font-size: 14px !important;
                                    line-height: 17px !important;
                                }
                            }
                        }
                    }
                }
                .btn-cta {
                    margin-top: 60px;
                }
            }
        }