.bg-certificacoes {
  background: url("../../dist/img/banner-certificacoes2.png") center center
    no-repeat;
  background-size: cover;
}

.fw-400 {
  font-weight: 400 !important;
}

.dot-container button {
  width: 5px;
  height: 10px;
  border-radius: 10px;
  background-color: #9c9c9c;
  border: none;
  outline: none;
  margin-right: 10px;
}

.certifica-item {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;

  img {
    height: 250px;
  }

  .certificacoes-gradiente {
    background: linear-gradient(
      180deg,
      rgba(173, 173, 173, 0) 0%,
      #001152 100%
    );
    height: 300px;
    top: 30px;
    position: absolute;
    display: flex;
    align-items: flex-end;

    h2 {
      color: white;
      padding-right: 130px;
    }
  }
}

.conteudo-container {
  background-color: #66b52c;
  .img-form {
    width: 163px;
    height: 167px;
    border-radius: 84px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    img {
      width: 120px;
    }
  }
  .detail-certificacoes {
    width: 70px;
    height: 2px;
    background-color: white;
    margin: 0 auto;
  }

  .certifica-conteudo {
    h4 {
      font-size: 22px;
      line-height: 26px;
      color: #ffffff;
      font-weight: 700;
      font-family: "Open Sans";
      padding: 0;
    }
  }
}

.cert-programa {
  span {
    font-size: 12px !important;
    color: #b5b5b5;
    font-weight: 400 !important;
  }
}

.cert-mobile {
  a {
    display: flex;
    justify-content: center;
    padding: 0 10px;
    align-items: center;
    height: 86px;
    color: white !important;
    img {
      height: 60px;
    }
  }
}

.bg-item-1 {
  background: url("../../dist/img/ibama.png") center center no-repeat;
  background-size: cover;
}

.tns-nav-active {
  background-color: #66b52c !important;
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  .bg-certificacoes {
    background-position-y: 14%;
  }

  .bg-desktop-cert {
    h1 {
      font-size: 32px !important;
      line-height: 41px !important;
      color: #2c2f57;
      font-weight: 300 !important;
    }
    .intro {
      font-size: 16px !important;
      line-height: 23px !important;
      font-weight: 400 !important;
      font-family: "Open Sans";
    }
    .tns-nav {
      padding-bottom: 30px;
      text-align: center;
      button {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #b5b5b5;
        margin: 3px;
        border: none;
      }
    }
  }
  
  .licenca-desk {
    .licenca-item {
      // height: 330px;
      // width: 220px;

      &:hover {
        filter: brightness(0.6);
        .circle-plus {
          transform: scale(1.3);
          transition: transform 0.1s ease;
        }
      }
      .bg {
        height: 130px;
        width: 100%;
        background-size: cover !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 25px;
        position: relative;
        .title {
          font-size: 22px;
          line-height: 28px;
          color: #ffffff;
          font-weight: 300;
        }
        .detalhe {
          margin-top: 10px;
          height: 1px;
          width: 50px;
          background: #66b52c;
        }
        .circle-plus {
          position: absolute;
          top: -16px;
          right: 7%;
          width: 33px;
          height: 33px;
          border-radius: 50%;
          background-color: #66b52c;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 40px;
          line-height: 52px;
          color: #2c2f57;
          font-weight: 300;
        }
      }
      .bg-1 {
        background: url("../../dist/img/bg-lic-1.png");
      }
      .bg-2 {
        background: url("../../dist/img/bg-lic-2.png");
      }
      .bg-3 {
        background: url("../../dist/img/bg-lic-3.png");
      }

      .lic-img {
        height: 135px;
        width: 100%;
      }
      .logo {
        border-top: 4px solid #66b52c;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 65px;
        width: 100%;
        background: white;
        img {
          height: 45px;
        }
      }
    }
  }
  .conteudo-container {
    .detail-certificacoes {
      margin: 0;
    }
  }
}

.img-1-size {
  height: 230px;
  margin: 0 auto;
}

.cat-risco {
  font-size: 13px;
  line-height: 41px;
  color: #747373;
  font-weight: 400;
  font-family: "Open Sans";
}

.premiacoes-cert {
  background-color: rgba(0, 0, 0, 0.050980392156862744);
  .title {
    font-size: 34px;
    color: #2c2f57;
    font-weight: 275;
    font-family: "Exo";
  }

  .tns-nav {
    padding-bottom: 30px;

    button {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: #b5b5b5;
      margin: 3px;
      border: none;
    }
  }

  img {
    height: unset;
    margin-bottom: 20px;
  }
}

.licencas-image {
  overflow-y: hidden !important;

  .modal-dialog {
    width: 60% !important;
    margin: 5% auto !important;
    img {
      height: 450px;
      width: 100%;
    }
  }
}
