.bg-contato {
  background: url("../../dist/img/bg-contato.png") center center no-repeat;
  background-position-y: 5%;
}

.contato {
  background-color: rgba(0, 0, 0, 0.050980392156862744);
  padding-bottom: 90px;
  .titulo {
    font-size: 32px;
    line-height: 41px;
    color: #2c2f57;
    font-weight: 300;
    font-family: "Exo";
    text-align: center;
    display: block;
  }
  .sub {
    font-size: 16px;
    line-height: 23px;
    color: #696868;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
  }
  .form {
    p {
      margin-bottom: 0;
    }
    p:last-of-type {
      position: absolute;
      left: 0;
      bottom: -15%;
    }
    br {
      display: none;
    }
    span {
      display: grid;
    }
    input {
      height: 40px;
    }
    input,
    textarea {
      background-color: #a1a1a1;
      border: none;
      margin-bottom: 10px;
      padding-left: 10px;
      color: white;
      width: 100%;

      &::placeholder {
        color: white !important;
        font-size: 18px;
        line-height: 23px;
        font-weight: 300;
      }
      &:focus {
        outline: 4px solid #66b42c;
      }
    }
    .wpcf7-response-output {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    textarea {
      margin-bottom: 0;
      bottom: 0;
    }

    input[type="submit"] {
      width: 95px;
      height: 35px;
      background-color: #66b52c;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      letter-spacing: 0px;
      line-height: 23px;
      color: #ffffff;
      font-weight: 700;
      font-family: "Exo";

      margin-left: 15px;
      &:hover {
        filter: brightness(0.5);
        transform: scale(1.1);
      }
    }
    .ajax-loader {
      position: absolute;
      right: -30px;
      top: 10px;
    }
  }

  .box {
    background-color: #2c2f57;
    top: 90px;
    padding-left: 5% !important;
    padding-right: 4.5% !important;
    .title {
      font-size: 21px;
      line-height: 38px;
      color: #ffffff;
      font-weight: 700;
      font-family: "Open Sans";
    }
    p {
      font-weight: normal !important;
      text-align: unset !important;
    }
    @media (min-width: map-get($grid-breakpoints, lg)) {
      top: unset;
      div {
        flex: 0;
      }
    }
  }
}
