.bg-denuncia {
    background: url("../../dist/img/banner-canal.png") no-repeat;
    background-size: cover;
    h2{
        font-weight: 500 !important;
    }
    p{
        font-family: 'Exo';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: #FFFFFF;
        margin-bottom: 35px;
        
    }
    .cta-banner{
        background-color: transparent;
        border: 1px solid #79B244;
        padding: 10px 25px;
        border-radius: 15px;
        font-size: 14px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}
.etica{
    position: relative;
    padding: 35px 0px;
    .carinha{
        position: relative;
        z-index: 2;
        margin-bottom: -35px;
    }
    .conteudo-etica{
        .coluna-etica{
            padding: 33px 40px;
            h2{

                font-family: 'Exo';
                font-style: normal;
                font-weight: 400 !important;
                font-size: 36px !important;
                line-height: 48px !important;
                /* identical to box height */

                color: #2D2F54;

            }
            p{

                font-weight: 400 !important;
                font-size: 16px !important;
                line-height: 21px !important;
            
                color: #919191;
            }
            &.col-verde{
                background-color: #79B244;
                h2{
                    color: #FFFFFF;
                }
                p{
                    color: #FFFFFF;
                }
                .detalhe{

                width: 36.56px;
                opacity: 1;
                border: 1px solid #FFFFFF;

                }
            }
        }
    }
    @media(min-width:map-get($grid-breakpoints,lg)){
        padding: 35px 40px;
        .carinha{
            position: absolute;
            top: -51px;
            left: 23%;
            margin-bottom: 0;
        }
        .conteudo-etica{
            .coluna-etica{
                padding: 33px 30px;
                &.col-verde{
                    padding: 33px 40px;
                }
            }
        }
    }
}
.oqdenunciar{
    text-align: center;
    padding: 62px 0;
    ul{
        padding: 0;
        width: 273px;
        margin: auto;

        font-weight: 400 !important;
        font-size: 16px !important;
        line-height: 21px !important;
        color: #919191;


    }
    h2{

        font-weight: 400 !important;
        font-size: 36px !important;
        line-height: 48px !important;
        color: #2D2F54;
        b{
            color: #79B244;
        }

    }
    @media(min-width:map-get($grid-breakpoints,lg)){
        background-color: #79B244;
        text-align: left;
        ul{
            padding: 0;
            width: 273px;
            margin: 0;
            font-weight: 400 !important;
            font-size: 16px !important;
            line-height: 21px !important;
            color: #fff;
    
    
        }
        h2{

            font-weight: 400 !important;
            font-size: 36px !important;
            line-height: 48px !important;
            color: #2D2F54;
            b{
                color: #fff;
            }
    
        }
    }
}
.comorelatar{
    padding: 70px 0 0;
    background-color: #F1F1F1;
    h2{


        font-weight: 400 !important;
        font-size: 36px !important;
        line-height: 48px !important;

        color: #2D2F54;


    }
    p{

        font-weight: 400 !important;
        font-size: 16px !important;
        line-height: 21px !important;

        color: #919191;


    }
    @media(min-width:map-get($grid-breakpoints,lg)){

    }
}
.links{
    .container-fluid{
        padding: 0 20px;
        margin: 0;
    }
    .info-links{
        h2{


            font-weight: 400 !important;
            font-size: 36px !important;
            line-height: 48px !important;
    
            color: #2D2F54;
    
    
        }
        p{
            font-weight: 400 !important;
            font-size: 16px !important;
            line-height: 21px !important;

            color: #919191;
            b{

            }
        }
        .btn-cta{
            display: block;
            width: fit-content;
            margin: auto;
            margin-top: 25px;
            &.btn-azul{
                background-color: #1B2A44;
                margin-top: 0;
            }
        }
    }
    .aviso-verde{
        background-color: #79B244;
        margin-top: 25px;
        text-align: center;
        padding: 15px; 
        p{
            color: #FFFFFF;
        }
    }
    .facadenuncia{
        background-color: #79B244;
        margin: auto;
        width: 100%;
        max-width: 384px;
        height: 144px;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        color: #fff;
        font-weight: 400 !important;
        font-size: 36px !important;
        line-height: 48px !important;
        .efeito{
            margin: auto;
            width: 36.56px;
            opacity: 1;
            border: 1px solid #FFFFFF;

        }
    }
    @media(min-width:map-get($grid-breakpoints,lg)){
        padding: 79px 0 0;
        .container-fluid{
            padding: 0;
            .facadenuncia{
                background-color: #79B244;
                margin: 0;
                width: 100%;
                height: auto;
                padding: 25px;
                display: flex;
                text-align: left;
                align-items: center;
                position: sticky;
                top: 96px;
                left: 0;
                .efeito{
                    margin: 15px 0 0;
                }
            }
            .info-links{
                padding: 0 35px;
            }
        }
        
    }
}