.bg-diferenciais {
  background: url("../../dist/img/banner-diferenciais.png") no-repeat;
  background-size: cover;
}

.bg-green {
  background-color: #70b32f;
}

.diferencial-detail {
  width: 55px;
  height: 3px;
  background-color: #ffffff;
  margin-bottom: 10px;
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  .font-correction {
    font-size: 24px !important;
    font-weight: bold !important;
    line-height: 28px !important;
  }
}

.margin-reduction {
  margin-bottom: -45px;
}

.sorter-btn {
  width: 250px;
  height: 55px;
  background-color: #3a3e69;
  font-size: 22px;
  line-height: 30px;
  color: #71bf44;
  font-weight: 400;
  font-family: "Exo";
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  margin: 0 auto;
  &:hover {
    filter: brightness(0.8);
    color: white;
  }
}

.diferenciais-1 {
  background: url("../../dist/img/diferenciais-1.png") center no-repeat;
  background-size: cover;
  height: 276px;
  display: flex;
  justify-content: center;
  position: relative;

  div {
    position: absolute;
    width: 202px;
    // height: 180px;
    background-color: #70b32f;
    bottom: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      font-size: 23px;
      font-weight: 400;
    }
    @media (min-width: 500px) and (max-width: 780px) {
      bottom: unset;
      left: 0;
      top: 0;
    }
  }
}

#detalhe {
  width: 70px;
  height: 2px;
  background-color: #fff;
}

.p-130 {
  padding-top: 130px;
  @media (min-width: 500px) and (max-width: 780px) {
    padding-top: 40px;
  }
}

.color-green {
  color: #70b32f;
}

.color-gray {
  color: #646464;
}

.elipse {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  margin: 0 auto;
}

.box {
  p {
    color: #848484 !important;
    font-weight: 700 !important;
    text-align: center !important;
  }
}

.item-1 {
  background: url("../../dist/img/carrosel-diferenciais/carrosel-diferenciais-1.png")
    center center;
}

.item-2 {
  background: url("../../dist/img/carrosel-diferenciais/carrosel-diferenciais-2.png")
    center center;
}

.item-3 {
  background: url("../../dist/img/carrosel-diferenciais/carrosel-diferenciais-3.png")
    center center;
}

.item-4 {
  background: url("../../dist/img/carrosel-diferenciais/carrosel-diferenciais-4.png")
    center center;
}

.item-5 {
  background: url("../../dist/img/carrosel-diferenciais/carrosel-diferenciais-5.png")
    center center;
}

.item-6 {
  background: url("../../dist/img/carrosel-diferenciais/carrosel-diferenciais-6.png")
    center center;
}

.item-7 {
  background: url("../../dist/img/carrosel-diferenciais/carrosel-diferenciais-7.png")
    center center;
}

.item-8 {
  background: url("../../dist/img/carrosel-diferenciais/carrosel-diferenciais-8.png")
    center center;
}

.item-9 {
  background: url("../../dist/img/carrosel-diferenciais/carrosel-diferenciais-9.png")
    center center;
}

.item-10 {
  background: url("../../dist/img/carrosel-diferenciais/carrosel-diferenciais-10.png")
    center;
  background-position-x: -15px;
}

.item-11 {
  background: url("../../dist/img/carrosel-diferenciais/carrosel-diferenciais-11.png")
    center center;
}

.item-12 {
  background: url("../../dist/img/carrosel-diferenciais/carrosel-diferenciais-12.png")
    center center;
}

input {
  height: 45px;
  border-radius: 2px;
  border: none;
  outline: none;
}

input::placeholder {
  font-size: 12px;
  color: #001152;
  font-weight: 400;
}
.box-dif {
  h3 {
    font-size: 23px !important;
  }
  p {
    font-size: 10px !important;
  }
}

.btn-diferenciais {
  padding: 0px 20px;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  background-color: #70b32f;
  color: #fff;
  height: 45px;
}

.btn-diferenciais:hover {
  color: #001152;
  background: #71b32fad;
}

@media (min-width: 769px) {
  .bg-diferenciais {
    background-position-y: -180px;
  }
  .pos-correction {
    position: relative;
    top: -100px;
  }
  .desk-diferenciais {
    max-width: 75%;
    margin: 0 auto;
    background: white;
    margin-top: -80px;
    p {
      font-size: 14px !important;
    }
    .box {
      display: flex;
      
      align-items: center;
      .elipse{
        margin: 0 15px 0 0;
      }
      .titulo-dif {
        font-size: 16px !important;
        color: #70b32f !important;
      }
      p{
        text-align: left !important;
      }
    }
  }
  .diferenciais-1 {
    background-position-x: center;
    height: 730px;
    justify-content: start;
    justify-content: center;
    flex-direction: column;

    .desk-detail {
      position: relative;
      bottom: -20%;
    }

    div {
      width: 519px;
      height: 250px;
      position: static;
      text-align: left;
      align-items: flex-end;
      // justify-content: flex-end;
      h3 {
        font-size: 49px !important;
        line-height: 70px !important;
        font-weight: 400 !important;
      }
    }

    p {
      position: absolute;
      width: 200px;
      color: white;
      bottom: -35%;
      left: 180px;
    }
  }

  .p-180 {
    padding-top: 0px;

    .btn-diferenciais {
      width: 280px;
      height: 75px;
      border-radius: 2px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      line-height: 23px;
    }
  }

  // .bg-blue {
  //   background-color: #6d6f86;
  // }

  input::placeholder {
    font-size: 14px;
  }
}

@media (min-width: 1500px) {
  .pos-correction {
    .col-xxl-4 {
      max-width: 35% !important;
    }
  }
}

.form-apn {
  .wpcf7-response-output {
    display: none !important;
  }

  span {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  a {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

@media (min-width: map-get($grid-breakpoints , lg )) {
  .margin-reduction {
    margin-bottom: -35px;
  }

  .sorter-btn {
    margin: 0;
  }
  .form-apn {
    span {
      margin-right: 10px !important;
      margin-left: 10px !important;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 35px;

      input {
        outline: none;
      }
    }
    .text-531 {
      margin-left: -10px !important;
    }
    .btn-diferenciais {
      border: none;
      outline: none;
    }
    .btn-diferenciais:hover {
      color: white;
      filter: brightness(0.4);
    }
    p {
      margin: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      // width: 75%;
    }
  }
}
