.bg-footer {
  background-image: url("../img/bg-footer2.png");
  background-size: cover;
  background-repeat: no-repeat;

  .divisor {
    width: 1px;
    height: 150px;
    background: white;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li a {
      font-size: 14px;
      line-height: 20px;
      color: #bcbcbc;
      font-weight: 400;
      font-family: "Open Sans";
    }
  }
  .colunas-footer {
    text-align: left;
    .titulo {
      font-size: 14px !important;
      letter-spacing: 2px !important;
      line-height: 100% !important;
      color: #ffffff;
      font-weight: bold !important;
    }
  }
  .endereco {
    font-family: "Open Sans";
    .cidade {
      font-size: 14px !important;
      line-height: 33px !important;
      color: #ffffff;
      font-weight: 700 !important;
      margin-bottom: 0;
    }
    .info {
      font-size: 14px !important;
      font-weight: 500px !important;
      color: #bcbcbc;
      margin-bottom: 0;
    }
  }
  .tac {
    position: relative;
    left: -11px;
    &:hover {
      filter: brightness(0.5);
    }
  }
  .btn-trabalhe {
    margin: 0;
    width: 127px;
    height: 26px;
    border-radius: 2px;
    background-color: #66b52c;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 17px;
    color: #ffffff;
    font-weight: 800;
    font-family: "Myriad Pro";
    &:hover {
      color: white !important;
      filter: brightness(0.5);
    }
  }

  .top-do-transporte {
    width: 100px;
    height: 100px;
  }
  .site-seguro {
    width: 94px;
    height: 36px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;

    .selo {
      background: url("../../dist/img/selo-seguro.svg") no-repeat center center;
      height: 70%;
      width: 80%;
      background-size: contain;
    }
  }
}

@media (min-width: map-get($grid-breakpoints, lg )) {
  .colunas-footer {
    ul {
      li {
        a:hover {
          color: #66b52c !important;
        }
      }
    }
  }
}

@media (max-width: map-get($grid-breakpoints, lg )) {
  .trabalhe-form {
    max-width: 85% !important;
  }
  .bg-footer {
    background-position-x: 6%;
  }

  .tac {
    margin-top: 15px;
  }
  .site-seguro,
  .btn-trabalhe {
    margin: 0 auto;
    margin-top: 10px;
  }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  .bg-footer {
    background-image: url("../img/bg-footer.png");
  }
  .trabalhe-form {
    max-width: 45% !important;
    .modal-content {
      height: 80vh;
      .aceite {
        input {
          height: 15px;
          width: 35px;
        }
      }
      .cv {
        opacity: 1 !important;
      }
      .btn-file {
        width: 80% !important;
        left: 10% !important;
      }
    }
  }
}

.trabalhe-form {
  // max-width: 85% !important;
  .modal-content {
    height: 80vh;
    overflow-y: scroll;
    position: relative;
    top: -15%;
    .modal-body {
      .cv {
        border: none;
        opacity: 0;
        z-index: 2;
        position: relative;
      }
      .btn-file {
        height: 42px;
        width: 180px;
        background: #2c2f57;
        display: block;
        margin: 0 auto;
        position: absolute;
        top: 30px;
        z-index: 1;
        left: 17%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: bold;
      }
      .aceite {
        label {
          display: flex;
          align-items: center;
          input {
            height: 15px;
            width: 35px;
            margin-right: 15px;
            height: 35px;
            width: 80px;
          }
        }
      }
      input,
      select,
      textarea {
        outline: none;
        font-size: 16px !important;

        width: 100%;
        border: 1px solid #2c2f57;
        background: white;
        height: 40px;
        color: #2c2f57 !important;
      }
      input::placeholder {
        font-size: 16px !important;
      }
      textarea {
        height: 80px !important;
      }
      textarea::placeholder {
        color: #2c2f57 !important;
      }
      input[type="submit"] {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white !important;
        font-weight: bold;
        background: #2c2f57;
      }
    }
  }
}
