.navbar {
  padding-left: 3% !important;
  padding-right: 3% !important;
  background: white;
}
.sob-menu{
  text-align: right;
  padding-left: 3% !important;
  padding-right: 3% !important;
  background: #2c2f57;
  .btn-trabalhe{
    border: 0;
    background-color: #66b42c;
    color: white;
    font-weight: bold;
    margin-top: 0 !important;
    margin: 0;
  }
}
.nav-link:hover {
  color: #66b42c !important;
}

.logo-site {
  width: 150px;
  background: url("../../dist/img/LOGO.svg") center center no-repeat;
  background-size: contain;
  height: 40px;
}

button:focus {
  outline: none;
}

.navbar-toggler {
  background: url(../img/hamburguer.png) center center no-repeat;
  background-size: cover;
  height: 30px;
  width: 30px;
  text-decoration: none !important;
}
.navbar-collapse-sm {
  background: rgba($blue, $alpha: 0.87);
  position: absolute;
  top: 68px;
  left: 0;
  width: 100%;
  ul {
    padding: 40px 30px 117px;
    li {
      font-size: 20px;
      margin-bottom: 10px;

      a {
        color: white;
      }
    }
  }
}
.menu-fixo {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.nav-active {
  background-color: #2c2f57 !important;
  border-color: #2c2f57;
  .logo-site {
    background: url("../../dist/img/logo-negativo.png") no-repeat !important;
    background-size: contain !important;
  }
  .navbar-toggler {
    filter: brightness(3);
  }
  .nav-link {
    color: white !important;
    &:hover {
      color: #66b42c !important;
    }
  }
}

@media (min-width: 1200px) {
  .navbar {
    padding-left: 13% !important;
    padding-right: 13% !important;
  }
  .sob-menu{
    padding-left: 13% !important;
    padding-right: 13% !important;
    .btn-trabalhe{
      margin-right: 0.5rem;
    }
  }
}

@media (min-width: map-get($grid-breakpoints,md)) {
  nav {
    border-bottom: 6px solid #66b42c;
    .navbar-collapse-sm {
      ul {
        padding: 0px;
        li:last-child {
          padding-right: 0;
        }
        li {
          letter-spacing: 1px;
          line-height: 48px;
          font-weight: 400;
          font-size: 14px;
          padding-right: 10px;
          margin: 0;

          a:hover {
            color: $green;
          }
        }
      }
    }
  }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  nav {
    .navbar-collapse-sm {
      position: static;
      background: transparent;
      width: auto;
    }
    ul {
      li {
        a {
          color: #2c2f57 !important;
          text-transform: uppercase;
        }
      }
    }
  }
}
