$grid-breakpoints: (
  lg: 1024px,
);

.banner-home {
  height: 454px;
  @media (min-width: map-get($grid-breakpoints, lg )) {
    height: 534px;
    .tns-controls{
      display: flex;
      justify-content: space-between;
      position: absolute;
      bottom: 20%;
      width: 100%;
      z-index: 5;
      padding: 0 8%;
      button{
        border: 1px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        color: white;
        box-shadow: 0 0 20px rgba($color: #000000, $alpha: .10);
        background: none;
      }
    }
  }
  .banner-item {
    height: 100%;
    width: 100%;
  }
  .bg-0 {
    background: url("../../dist/img/bg-home-0-mob.jpg") no-repeat;
    background-size: cover !important;
    background-position-x: -40px;
    position: relative;
    a {
      position: absolute;
      height: 100%;
      width: 100%;
    }
    @media (min-width: 500px) {
      background: url("../../dist/img/bg-home-0.png") no-repeat;

      background-position-x: center;
      // background-position-y: -88px;
    }
  }
  .bg-1 {
    background: url("../../dist/img/bg-home-1.png") no-repeat;
    background-size: cover;
    background-position-x: -400px;
    @media (min-width: 500px) {
      background-position-x: center;
      background-position-y: center;
    }
  }
  .bg-6 {
    background: url("../../dist/img/bg-home-6.png") no-repeat;
    background-size: cover;
    background-position-x: -400px;
    @media (min-width: 500px) {
      background-position-x: center;
      background-position-y: center;
    }
  }
  .bg-2 {
    background: url("../../dist/img/bg-home-2.png") no-repeat;
    background-size: cover;
    background-position-x: -165px;
    @media (min-width: 500px) {
      background-position-x: center;
    }
  }
  .bg-3 {
    background: url("../../dist/img/bg-home-3.png") no-repeat;
    background-size: cover;
    background-position-x: -200px;
    @media (min-width: 500px) {
      background-position-x: center;
    }
  }
  .bg-4 {
    background: url("../../dist/img/bg-home-4.png") no-repeat;
    background-size: cover;
    background-position-x: -200px;
    background-position-y: 100%;
    position: relative;
    a {
      position: absolute;
      height: 100%;
      width: 100%;
    }
    @media (min-width: 500px) {
      background-position-x: center;
    }
    @media (min-width: 1900px) {
      background-size: 90%;
    }
  }
  .bg-5 {
    background: url("../../dist/img/bg-home-5.png") no-repeat;
    background-size: 100% 100%;
    background-position-y: 100%;
    position: relative;
    a {
      position: absolute;
      height: 100%;
      width: 100%;
    }

    @media (min-width: 1900px) {
      // background-position-y: 80%;
      background-size: 100% 100% !important;
    }
  }

  .filtro-home {
    display: flex;
    padding-bottom: 100px;
    align-items: flex-end;
    height: 100%;
    background-image: linear-gradient(
      180deg,
      rgba(194, 191, 191, 0) 0%,
      #000000 160%
    );
  }
  // h1 {
  //   width: 460px;
  // }
  p {
    width: 245px;
    font-size: 14px !important;
  }
  .filtro-off {
    background-image: none;
  }
}

.carosel-contaier {
  position: relative;
  top: -10px;
  margin-bottom: -95px;
  // width: 253px;
  // height: 181px;

  #teste {
    position: relative;
    // top: -69px;
    // margin-bottom: -66px;
    z-index: 5;
  }
  .item {
    width: 111px;
    // height: 111px;
    padding: 0;
    .bg-gray {
      background: #aaa !important;
    }
    .button-home {
      width: 100%;
      height: 111px;
      padding: 10px;
      img {
        height: 30px;
        margin-left: 5px;
      }
      h2 {
        text-align: left;
        font-size: 15px !important;
      }
    }
  }
  img {
    margin-bottom: 25px;
  }
  @media (min-width: map-get($grid-breakpoints,lg)) {
    top: 0;
    margin-bottom: 0;
    #teste {
      position: relative;
      // top: -70px;
      // margin-bottom: -70px;
    }
    img {
      margin-bottom: 0;
    }
    .item:hover {
      filter: brightness(0.5);
      transition: filter 0.05s ease-in-out;
    }
    .button-home {
      width: 100% !important;
      filter: drop-shadow(0 0 10.5px rgba(12, 10, 12, 0.53));
      height: 70px !important;
      flex-direction: row !important;
      padding: 0 !important;
      justify-content: center;
      img {
        height: 30px;
        width: auto !important;
      }
      h2 {
        padding-left: 20px;
        margin-bottom: 0;
        font-size: 20px !important;
      }
    }
    .color-green {
      img,
      h2 {
        filter: invert(55%) sepia(54%) saturate(610%) hue-rotate(48deg)
          brightness(105%) contrast(78%);
      }
    }
    .item {
      padding: 0;
    }
  }
}

.home-2 {
  background: url("../../dist/img/home-2.png") center center no-repeat;
  background-size: cover;
  height: 426px;
}

@media (min-width: 768px) {
  .color-desk {
    color: #757474;
  }

  .bg-desk-gray {
    background: #d1d1d1;
    color: #2c2f57 !important;
  }
}

.gradient {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;

  z-index: 20;

  color: white;
  h1 {
    font-weight: 400 !important;
  }
  div {
    width: 55px;
    height: 3px;
    background-color: #ffffff;
    margin-bottom: 10px;
  }
  a {
    max-width: 100px;
    background-color: #70b32f;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    span {
      font-size: 10px;
      color: #ffffff;
      font-weight: 400 !important;
      padding-right: 10px;
    }
    i {
      color: white;
    }
  }
  @media (min-width: 768px) {
    position: unset;
    color: unset;
    a:hover {
      filter: brightness(0.5) !important;
      transform: scale(1.05);
    }
  }
}

.seg-desk {
  .card {
    border: none;
    width: 100%;
    text-align: center;

    .thumb {
      background-size: cover !important;
      height: 229px;
      width: 100%;
    }
    .the-line {
      height: 14px;
      width: 100%;
      margin-bottom: 15px;
    }
    .titulo {
      font-size: 26px;
      color: #70b32f;
      font-weight: 400;
      margin: 0 auto;
      padding-bottom: 20px;
      width: 270px;
    }
    .intro {
      p {
        margin: 0;
      }
      width: 261px;
      font-size: 17px;
      color: #6d6d6d;
      font-weight: 400;
      margin: 0 auto;
      padding-bottom: 20px;
    }
    .btn-saiba {
      width: 105px;
      height: 30px;
      background-color: #70b32f;
      font-size: 12px;
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto 20px auto;
    }
  }
}

.c1 {
  background: #66b52c;
  .detalhe {
    background: #13307a !important;
  }
  a {
    background: #66b52c;
  }
}
.c2 {
  background: #13317a;
  .detalhe {
    background: #66b52c;
  }
  a {
    background: #13317a;
  }
}
.c3 {
  background: #d89c00;
  .detalhe {
    background: #13317a;
  }
  a {
    background: #d89c00;
  }
}
.c4 {
  background: #686868;
  .detalhe {
    background: #66b52c;
  }
  a {
    background: #686868;
  }
}
.c5 {
  background: #b27144;
  .detalhe {
    background: #13317a;
  }
  a {
    background: #b27144;
  }
}
.c6 {
  background: #70479D;
  .detalhe {
    background: #66b52c;
  }
  a {
    background: #70479D;
  }
}
.seg-desk-home {
  padding-left: 0;
  padding-right: 0;
  .card {
    height: 340px !important;
    // background-color: #66b52c;
    width: 202px;
    margin: 20px 45px;
    justify-content: space-between;
    &:hover {
      filter: brightness(0.5);
    }
    .titulo {
      font-size: 22px;
      color: white;
      margin: 0;
      height: 65px;
      display: block;
    }
    .detalhe {
      height: 1px;
      width: 20%;
      margin-bottom: 10px;
      margin-top: 10px;
      // background: white;
    }
    .text {
      p {
        font-size: 18px !important;
        color: white !important;
        font-weight: 300;
        text-align: left;
        margin-bottom: 0;
      }
    }
    .thumb {
      height: 125px !important;
      max-width: 205px;
    }
    a {
      position: absolute;
      width: 145px;
      height: 41px;
      border-radius: 2px;
      filter: drop-shadow(0.523px 4.973px 12px rgba(0, 0, 0, 0.48));
      // background: red;
      left: 15%;
      bottom: -7%;
      display: flex;
      font-size: 12px;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      font-weight: 600;
      font-family: "Open Sans";
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.blue-bg {
  background: linear-gradient(
    180deg,
    rgba(173, 173, 173, 0.18) 0%,
    #001152 100%
  );
  @media (min-width: 768px) {
    background: unset;
  }
}
.wrapper-logos {
  width: 80%;
  margin: 0 auto;
  .logos-carosel {
    img {
      // width: 120px !important;
    }
  }
}

.home-container {
  .home-gradiente {
    position: absolute;
    height: 400px;
    background-image: linear-gradient(
      180deg,
      rgba(173, 173, 173, 0.18) 0%,
      #70b32f 100%
    );
    z-index: 100;

    @media (min-width: 768px) and (max-width: 1020px) {
      width: 600px !important;
      height: 500px;
    }
    a {
      height: 30px;
      width: 83px;
      background-color: #001152;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 10px;
    }
  }

  .segmento {
    height: 400px;
    width: 500px;
    background-size: cover !important;
    @media (min-width: 768px) {
      height: 500px !important;
    }
    @media (min-width: 768px) and (max-width: 1020px) {
      width: 600px !important;
    }
  }

  .d-desk {
    width: 45px !important;
    height: 2px !important;
    background-color: white;
    // background-color: #66b52c !important;
  }
}

.bg-item-1 {
  background: url("../../dist/img/cosmeticos.png");
}

.banner-fale-home {
  span {
    color: #70b32f;
  }
  .fale {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 232px;
    height: 53px;
    border-radius: 2px;
    background-color: #66b52c;
    border: 2px solid #66b52c;
    -webkit-box-shadow: 0px 2px 28px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 28px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 28px -6px rgba(0, 0, 0, 0.75);
    h4 {
      margin: 0;
      color: white;
      font-size: 16px !important;
      padding-left: 15px;
    }
    &:hover {
      filter: brightness(0.5);
      transform: scale(1.05);
    }
  }
}

.up-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #66b52c;
  -webkit-box-shadow: 0px 2px 28px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 28px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 28px -6px rgba(0, 0, 0, 0.75);
}

@media (min-width: 769px) {
  .button-home {
    height: 280px;
  }
  .desk-home {
    .home-2 {
      background-position: center;
      width: 734px;
      height: 522px;
    }
    .blue-bg {
      background: white;
      color: black;
      a {
        max-width: 189px;
        height: 53px;
        border-radius: 2px;
        filter: drop-shadow(0.523px 4.973px 12px rgba(0, 0, 0, 0.48));
        justify-content: center;
        align-items: center;
        span {
          font-size: 16px;
          line-height: 23px;
          color: #ffffff;
          font-family: "Open Sans";
          font-weight: 600;
        }
      }
    }
  }
  .gradient {
    position: relative;
    height: auto;
  }
  .home-container {
    .home-gradiente {
      background-color: #001052dc;
      background-image: unset;
      position: unset !important;
      height: 500px;
      .d-desk {
        background: $green;
      }
      a:hover {
        background: #ffffff9d;
        transition: 0.6s ease-in-out;
      }
      a {
        width: 158px;
        height: 53px;
        border-radius: 2px;
        background-color: transparent;
        border: 2px solid #ffffff;
        font-size: 16px;
      }
    }
  }
}
.atend {
  font-size: 28px;
}
.mapa-desktop {
  position: relative;
  .unidade {
    position: absolute;
    color: $blue;
    top: 100%;
    .local {
      color: black;
      font-size: 14px;
      font-weight: 500;
      display: flex;
      align-items: center;
      text-transform: uppercase;
    }
    .infos {
      background: $blue;
      color: white;
      padding: 15px 25px;
      // width: 263px;
      display: none;
      position: absolute;
      top: -130px;
      z-index: 4;
      .nome {
        display: block;
        text-transform: uppercase;
        font-weight: 700;
      }
      .mail {
        margin-left: 17px;
      }
    }
    .carrinho {
      width: 30px;
      height: 30px;
      padding: 5px;
      border: 1px solid #757474;
      margin-right: 5px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        filter: grayscale(1);
      }
    }
    &:hover {
      .local {
        font-weight: 700;
        color: $blue;
      }
      .infos {
        display: block;
        font-weight: 300;
      }
      .carrinho {
        
        background: $green;
        img{
          filter: none;
        }
      }
    }
    &.sjrp {
      top: 60px;
      left: 294px;
    }
    &.aracatuba {
      top: 103px;
      left: 207px;
    }
    &.andradina {
      top: 88px;
      left: 43px;
      .local {
        flex-direction: row-reverse;
      }
    }
    &.ribpreto {
      top: 126px;
      left: 406px;
    }
    &.tupa {
      top: 184px;
      left: 175px;
    }
    &.bauru {
      top: 168px;
      left: 324px;
    }
    &.marilia {
      top: 180px;
      left: 205px;
    }
    &.tatui {
      top: 245px;
      left: 324px;
    }
    &.presprudente {
      top: 165px;
      left: 79px;
      .local {
        flex-direction: column;
      }
      .fa-shopping-cart {
        margin: 0 auto;
      }
    }
    &.assis {
      top: 239px;
      left: 202px;
    }
    &.itapetininga {
      top: 289px;
      left: 212px;
      .local {
        flex-direction: row-reverse;
      }
    }
    &.sorocaba {
      top: 329px;
      left: 270px;
      .local {
        flex-direction: row-reverse;
      }
    }
    &.campinas {
      top: 285px;
      left: 390px;
      .local {
        // display: inline;
        text-align: center;
        padding-top: 5px;
        flex-direction: row-reverse;
      }
      .fa-shopping-cart {
        margin: 0 auto;
      }
    }
    &.sjc {
      top: 290px;
      right: -25px;
      @media (min-width: 1440px) {
        top: 300px;
        right: 200px;
      }
    }
    &.sp {
      top: 340px;
      left: 420px;
      .local {
        display: inline;
      }
    }
    &.santos {
      top: 350px;

      left: 510px;
    }
    &.registro {
      top: 393px;
      left: 305px;
    }
    &.curitiba {
      top: 455px;
      left: 250px;
    }
  }
  @media (min-width: map-get($grid-breakpoints, lg )) {
    right: 3rem;
  }
}

.depoimentos {
  background: url("../../dist/img/banner-depo2.png") no-repeat;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 30px;

  .titulo {
    display: block;
    font-size: 34px;
    color: #2c2f57;
    text-align: center;
    font-weight: 275;
    padding-bottom: 35px;
  }
  .depo-wrapper {
    margin: 0 auto;
    .depo-container {
      display: flex;
      justify-content: center;
      .depo-item {
        color: #2c2f57 !important;
        margin-right: 20px;
        margin-left: 20px;
        position: relative;
        right: -1%;

        .name {
          display: block;
          font-size: 18px;
          font-weight: 700;
        }
        .empresa {
          font-size: 12px;
          font-style: italic;
          line-height: 100%;
          display: block;
          width: 70%;
        }
        .divisor {
          width: 70%;
          height: 2px;
          background: #2c2f57;
          margin-top: 5px;
          margin-bottom: 15px;
        }
        .excerpt {
          position: relative;
          font-size: 14px;
          width: 80%;
          .aspas {
            background: url("../../dist/img/aspas.svg") center center no-repeat;
            background-size: contain;
            height: 30px;
            width: 30px;
            position: absolute;
            top: -10px;
            left: -15.5%;
          }
        }
      }
    }
  }

  @media (min-width: 900px) and (max-width: 1080px) {
    .depo-wrapper {
      width: 870px !important;
      .depo-container {
        position: relative;
        right: -5%;
        .depo-item {
          right: 0 !important;
        }
      }
    }
  }

  @media (min-width: map-get($grid-breakpoints, lg)) {
    background: url("../../dist/img/banner-depo.png") no-repeat;
    background-size: cover !important;
    .depo-wrapper {
      width: 900px;

      .depo-item {
        position: relative;
        right: -20px !important;
      }
    }
  }
}
@media (min-width: 1600px) {
  .depo-wrapper {
    width: 1100px !important;
  }
}

.ver-tudo-btn {
  display: block;
  border: none;
  outline: none;
  font-size: 12px;
  padding: 5px 10px;
  margin-top: 10px;
  color: #2c2f57;
  font-weight: bold;
  border-radius: 3px;
  &:hover {
    transform: scale(1.1);
  }
}

.modal-dialog {
  max-width: 95%;
  height: 50%;
  margin: 40% auto 0 auto;
  color: #2c2f57;
  .name {
    font-size: 18px;
    font-weight: 700;
  }
  .empresa {
    font-size: 12px;
    font-style: italic;
    line-height: 100%;
    display: block;
  }
  .conteudo {
    font-size: 14px;
  }
  @media (min-width: map-get($grid-breakpoints, lg)) {
    max-width: 70%;
    margin: 10% auto 0 auto;
  }
}

// llllllllllll

@mixin white-gradient {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

$animationSpeed: 40s;

// Animation
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

// Styling
.slider {
  background: white;
  height: 140px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;

  &::before,
  &::after {
    @include white-gradient;
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide-track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    width: calc(250px * 14);
  }

  .slide {
    height: 60px;
    width: 150px;
    margin-right: 25px;
    margin-left: 25px;
  }
}
