.titulo-last{
    margin-top: 75px;
    h2{
        font-size: 3em !important;
        color: $blue;
        font-weight: bold !important;
    }
    .efeito-verde{
        width: 13%;
        border-top: 3px solid;
        border-color: $green;
        opacity: 1;
    }
}
.last-mile{
    margin-top: 0;
    .box{
        flex-direction: column;
        justify-content: center;
        margin: 25px 0;
        .img-mile{
            width: 100%;
            max-width: 140px;
        }
        p{
            font-weight: 500 !important;
            text-align: center !important;
        }
        .titulo-last-box{
            color: $blue !important;
            font-weight: 700 !important;
            font-size: 22px !important;
            margin-top: 25px;
            text-align: center !important;
            span{
                color: $green;
            }
        }
        
    }
    @media(min-width: map-get($grid-breakpoints,md)){
        .box{
            
        }
    }
}