.midias {
  position: fixed;
  top: 18rem;
  left: 0;
  z-index: 6;
}

.whats-btn {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 500;
  background: #70b32f;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.whats-btn:hover {
  filter: brightness(0.5);
  transform: scale(1.2);
}

.square {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.square:hover {
  transform: scale(1.2);
}

.link {
  background-color: #1c61ae;
}

.face {
  background-color: #0b4fb8;
}

.yt {
  background-color: red;
}
.insta {
  background: #833ab4;
  background: linear-gradient(
    to right,
    #833ab4,#fd1d1d,#fcb045
  );
}
@media (max-width: map-get($grid-breakpoints, lg)) {
  .midias {
    top: 70px;
    left: 0px;
    z-index: 50;
  }

  .whats-btn {
    height: 40px;
    width: 40px;
    bottom: 65px;
    right: 15px;
  }
}
