.single-segmentos {
  .content {
    h2 {
      color: #3a3e69;
    }
    p {
      font-size: 14px !important;
      line-height: 22px !important;
      color: #83969f;
      font-weight: 300 !important;
      font-family: "Open Sans";
    }
    p:last-child {
      background: #70b32f;
      color: white;
      margin-left: -15px;
      margin-right: -15px;
      margin-bottom: 0;
      padding: 15px;
    }
  }

  @media (min-width: 768px) {
    .content {
      border-left: 2px solid $green;
    }
  }
}

.box-segmento {
  img {
    width: 100%;
  }
  .text-under {
    p {
      font-size: 10px !important;
      color: #8b8b8b;
      font-weight: 400 !important;
      font-family: "Exo";
      margin-bottom: 0;
    }
  }

  .segmento-single {
    .detail {
      width: 55px;
      height: 3px;
      background-color: #70b32f;
      margin: 0 auto;
    }
    p {
      font-size: 12px !important;
    }
  }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  .single-segmentos {
    .content {
      p:last-child {
        background: unset;
        color: #8b8b8b;
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: 0;
        padding: 15px;
      }
    }
  }
  .box-segmento {
    img {
      height: 375px;
      width: 100%;
      filter: brightness(1.4);
    }
    a {
      width: 95%;
      font-size: 16px;
      &:hover {
        filter: brightness(0.4);
      }
    }
    .titulo {
      font-size: 28px !important;
    }
    .segmento-single {
      .detail {
        background: white;
        width: 50px;
        margin: 0;
      }
    }
  }
}

@media (min-width: 1600px) {
  .box-segmento {
    img {
      height: 450px;
    }
  }
}
