.bg-sobre {
  background: url("../../dist/img/banner-sobre.png") no-repeat;
  background-size: cover;
}

.image-sobre-1 {
  background: url("../../dist/img/imagem-sobre-1.png") center center no-repeat;
  background-size: cover;
  height: 303px;
}

ul {
  list-style: none;
}

li {
  font-size: 12px;
  font-weight: 400;
}

.fw-400 {
  font-weight: 400 !important;
}

.separador {
  width: 55px;
  height: 3px;
  background-color: #ffffff;
  margin-bottom: 5px;
}

.fake-carrosel {
  overflow-x: scroll;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-right: 20px;
  position: relative;

  img {
    height: 300px;
  }
}

.missao-valores {
  padding-top: 34px;
  padding-bottom: 44px;
  background: #e0e0e0;
  .top-130 {
    top: 130% !important;
  }
  .wrapper {
    .carousel-missao {
      position: relative;
      top: 71px;
      height: 510px;
      .item {
        margin-left: 10px;

        .blue {
          position: relative;
          height: 389px;
          border-radius: 10px;
          background: #2c2f57;
          padding-top: 95px !important;
          padding: 35px;
          .green {
            width: 119px;
            height: 119px;
            background: #72aa05;
            border-radius: 50%;
            display: block;
            position: absolute;
            top: -60px;
            left: 33%;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
              width: 45px;
            }
          }
          .title {
            font-weight: bold;
            font-size: 30px;
            line-height: 28.99px;
            justify-content: center;
            display: flex;
            text-transform: uppercase;
            color: #fff;
          }
          .line {
            width: 252.73px;
            height: 5.14px;
            border-radius: 2.5px;
            background: #72aa05;
            display: block;
            margin: 15px auto;
          }
          p,
          li {
            font-size: 16px !important;
            line-height: 28.99px !important;
            text-align: left;
            color: #fff;
          }
          p,
          ul {
            padding-left: 0;
            height: 144px;
            overflow: hidden;
          }
          .btn {
            font-weight: bold;
            font-size: 15px;
            line-height: 28.99px;
            text-align: left;
            color: #72aa05;
            padding-left: 0;
            outline: none;
          }
        }
        .line-bottom {
          height: 23.73px;
          border-radius: 10px;
          background: #72aa05;
          margin-top: 12px;
        }
        @media (min-width: map-get($grid-breakpoints ,lg )) {
          margin-right: 10px;
        }
      }
    }
  }
}

.modal-custom {
  height: unset !important;
  width: 400px !important;
}
.modal-missao {
  .close {
    z-index: 5;
    position: relative;
    right: 20px;
    top: 20px;
    font-size: 45px;
    color: white;
    text-shadow: none;
    opacity: 1;
    font-family: arial;
  }
  .blue {
    position: relative;
    border-radius: 10px;
    background: #2c2f57;
    padding-top: 95px !important;
    padding: 35px;
    .green {
      width: 119px;
      height: 119px;
      background: #72aa05;
      border-radius: 50%;
      display: block;
      position: absolute;
      top: -60px;
      left: 33%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 45px;
      }
    }
    .title {
      font-weight: bold;
      font-size: 38.98px;
      line-height: 28.99px;
      justify-content: center;
      display: flex;
      text-transform: uppercase;
      color: #fff;
    }
    .line {
      width: 252.73px;
      height: 5.14px;
      border-radius: 2.5px;
      background: #72aa05;
      display: block;
      margin: 15px auto;
    }
    p,
    li {
      font-size: 18.99px !important;
      line-height: 28.99px !important;
      text-align: left;
      color: #fff;
    }
    p,
    ul {
      padding-left: 0;
    }
  }
  .line-bottom {
    height: 23.73px;
    border-radius: 10px;
    background: #72aa05;
    margin-top: 12px;
  }
}

.btn-sobre {
  width: 225px;
  height: 32px;
  background-color: #001152;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

@media (min-width: 1000px) {
  .fake-carrosel {
    padding-top: 60px;
    padding-bottom: 60px;
    overflow: hidden;
    img {
      height: auto;
      width: 85%;
    }
  }
}

@media (min-width: 769px) {
  .bg-sobre {
    background-position-y: -200px;
  }

  li {
    font-size: 16px;
  }
  .bg-blue h2 {
    color: #70b32f;
  }

  .position-detail {
    position: relative;
    top: -20px;
  }

  .image-sobre-1 {
    width: 401px;
    height: 350px;
    background-position-x: -150px;
  }

  .consultoria {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-size: 26px !important;
      line-height: normal !important;
    }

    .btn-sobre {
      width: 370px;
      height: 70px;
      background-color: #2c2f57;
      font-size: 26px;
      line-height: 50px;
      font-weight: 300;
      border-radius: 5px;
    }
  }
}

$ani-speed: 2s;
$ani-delay: 1s;

.arrow {
  opacity: 0;
  position: absolute;
  right: 10%;
  top: -20%;
  // transform-origin: 10% 10%;
  transform: rotate(-90deg) !important;
  // transform: translate3d(-20%, -20%, 0);
  z-index: 5;
}

.arrow-first {
  animation: arrow-movement $ani-speed ease-in-out infinite;
}
.arrow-second {
  animation: arrow-movement $ani-speed $ani-delay ease-in-out infinite;
}

.arrow:before,
.arrow:after {
  background: #001152;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  top: 0;
  left: 95%;
  width: 20px;
}

.arrow:before {
  transform: rotate(45deg) translateX(-23%);
  transform-origin: top left;
}

.arrow:after {
  transform: rotate(-45deg) translateX(23%);
  transform-origin: top right;
}

// Animation
@keyframes arrow-movement {
  0% {
    opacity: 0;
    right: 15%;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
