.bg-sustentabilidade {
  background: url("../../dist/img/banner-sustentabilidade.png") no-repeat;
  background-size: cover;
}

.img-sustenta {
  // width: 65px;
  max-height: 60px;
}

.item-sustenta {
  span {
    font-weight: 400;
    font-size: 13px;
  }
  p {
    font-weight: 700 !important;
  }
}

.banner-sustentabilidade {
  position: relative;
  display: flex;
  justify-content: center;
  h4 {
    font-size: 15px !important;
    font-weight: 400 !important;
    padding-top: 100px;
    margin: 0 auto;
  }
}

.card-logo {
  width: 250px;
  height: 150px;
  filter: drop-shadow(0px 3px 3.5px rgba(0, 0, 0, 0.16));
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -70px;
  z-index: 5;

  img {
    height: 50px;
  }
}

@media (min-width: 769px) {
  .bg-g-desktop {
    height: fit-content;
    position: relative;
    top: 20px;
    p {
      font-size: 16px !important;
    }
  }
  .sustenta-size {
    font-size: 14px !important;
    line-height: 20px;
    color: #71848e;
    font-family: "Open Sans";
    font-weight: 700;
    text-align: left !important;
    padding-left: 25px;
  }

  .banner-sustentabilidade {
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    padding-bottom: 30px;
    .bg-blue {
      height: 368px;
      background-color: #130d53;
      display: flex;
      align-items: center;
      h4 {
        font-size: 29px !important;
        line-height: 41px !important;
        font-weight: 300 !important;
        text-align: left;
      }
    }
    .card-logo {
      width: 459px;
      height: 420px;
      filter: drop-shadow(2.973px 2.677px 9px rgba(13, 13, 14, 0.17));
      position: relative;
      top: 0px;

      img {
        height: 70px;
      }
    }
  }
}

.conducao-resp {
  .text {
    .titulo {
      color: #130d53;
      font-size: 18px;
      display: block;
      padding-bottom: 10px;
    }
    .info {
      font-size: 16px !important;
      padding: 0;
      color: #585858;
    }
  }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  .box-sust {
    h2 {
      font-size: 22px !important;
    }
  }

  .img-sustenta {
    width: 65px;
  }
  .conducao-resp {
    display: flex;
    align-items: center;
    img {
      height: 324px;
      filter: drop-shadow(2.973px 2.677px 9px rgba(13, 13, 14, 0.17));
    }
    .text {
      .detalhe {
        height: 2px;
        width: 60px;
        background-color: #66b52c;
        margin-top: 10px;
        margin-bottom: 20px;
      }
      .titulo {
        font-size: 34px;
        line-height: 34px;
        font-weight: 300;
      }
      .info {
        font-size: 16px !important;
        line-height: 23px !important;
        font-weight: 300 !important;
      }
    }
  }
}
