.bg-cinza-claro {
  background: $cta-color;
  color: #000f47;

  .unidade {
    line-height: 19px !important;
    padding-bottom: 20px;
    h1,
    h2,
    p,
    span {
      font-size: 12px !important;
    }
    h1 {
      font-weight: 700 !important;
      text-transform: uppercase;
      span {
        text-transform: lowercase;
      }
    }
    p {
      margin: 0;
      span {
        font-weight: 700 !important;
      }
    }
    h2 {
      margin-bottom: 0;
      margin-top: 5px;
      font-weight: 700 !important;
    }
  }
}
