$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 768px,
  lg: 1024px,
  xl: 1250px,
  xxl: 1600px,
);

@import "animate";
@import "../../node_modules/bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css?family=Exo:300,400,500,600,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Exo:wght@200&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

$grey: #323a41;
$blue: #001152;
$green: #70b32f;
$lgrey: #dddddd;
$cta-color: #e6e6e6;
$cta-border: #707070;
$llgrey: #d3dbe2;
$blued: #3a3e69;
$color-text: #757474;

.bg-blued {
  background: $blued;
}

.btn-trs {
  background: transparent;
  border: 3px solid #fff;
  font-weight: bold;
  font-size: 18px;
}

.color-text {
  color: $color-text;
}
body {
  font-family: "Exo", sans-serif !important;
}

h1 {
  font-size: 20px !important;
  font-weight: 300 !important;
  line-height: normal !important;
}

h2 {
  font-size: 20px !important;
  font-weight: 300 !important;
}

h3 {
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: normal !important;
}

p {
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: normal !important;
}

@media (min-width: 768px) {
  .container-md {
    max-width: 1050px;
    margin: 0 auto;
  }

  h1 {
    font-size: 36px !important;
    line-height: 53px !important;
    font-weight: 275 !important;
  }

  h2 {
    font-size: 25px !important;
    line-height: 37px !important;
    font-weight: 300 !important;
  }
}

.color-text {
  color: $color-text;
}

a {
  text-decoration: none !important;
  outline: none !important;
}
.btn-cta {
  background-color: #70b32f;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px !important;
  padding: 10px;
}

.bg-gray {
  background: $cta-color !important;
}

.bg-lgrey {
  background: $lgrey;
}
.bg-blue {
  background: $blue;
}
.color-blue {
  color: $blue;
}
.color-green {
  color: $green !important;
}
.border-left-blue {
  border-left: 1px solid $blue;
}
.banner {
  height: 220px;
  background-size: cover !important;
}
.atend .detail {
  width: 36px;
  height: 2px;
}

#detail {
  width: 36px;
  height: 1px;
  background-color: #70b32f;
}

.margin-center {
  margin: 0 auto !important;
}

.p-150 {
  padding-left: 13%;
}

@media (max-width: 769px) {
  .p-150 {
    padding-left: 20px;
  }
}

.filtro {
  height: 100%;
  padding-bottom: 15px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.13);
}

@media (min-width: 768px) {
  .banner {
    height: 450px;
  }

  .filtro {
    padding-bottom: 120px;
  }
}

.border-green {
  border-left: 2px solid $green;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 17px;
  border: 1px solid #70b32f;
  display: flex;
  justify-content: center;
  align-items: center;
  .fas {
    font-size: 24px !important;
  }
}

.c-detail {
  background-color: #70b32f;
  position: fixed;
  right: 15px;
  bottom: 15px;
  color: #fff;
  z-index: 50;
}

.c-detail:hover {
  background-color: #71b32fa8;
  color: #fff;
}

.caminhao {
  position: relative;
  left: -100%;
  transition: all 1s ease-in-out;
  @media (min-width: map-get($grid-breakpoints, lg )) {
    max-width: 80%;
  }
}

.obrigado {
  padding-top: 70px;
  padding-bottom: 70px;
}
.bg-confeitos{
  background: url(../../dist/img/banner-confeitos-lg.jpg) center center no-repeat;
}
@import "bebidas", "certificacoes", "contato", "diferenciais", "footer",
  "header", "midias", "servicos", "sobre", "sustentabilidade", "owl-carousel",
  "owl-carousel-theme", "home", "single-servicos", "single-segmentos",
  "unidades","last","denuncias";
